replicaCount: 1

image:
  repository: ghcr.io/frikanalen/frontend
  tag: ""
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: traefik
  hostname: beta.frikanalen.no
  certResolver: letsencrypt

resources: {}
