{
  "openapi": "3.0.0",
  "info": {
    "title": "Frikanalen API",
    "description": "RESTful API for consuming and interacting with Frikanalen",
    "version": "2.0.0"
  },
  "servers": [
    { "url": "https://beta.frikanalen.no/api/v2", "description": "Staging server" },
    { "url": "http://localhost:8080", "description": "Local development" }
  ],
  "components": {
    "securitySchemes": { "cookie": { "type": "apiKey", "in": "cookie", "name": "fk-session" } },
    "parameters": {
      "offset": {
        "in": "query",
        "name": "offset",
        "description": "Number of rows to skip",
        "required": false,
        "schema": { "type": "integer", "default": 0, "minimum": 0, "maximum": 100000 }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "description": "Number of rows to return",
        "required": false,
        "schema": { "type": "integer", "default": 5, "minimum": 1, "maximum": 50 }
      }
    },
    "responses": {
      "PermissionDenied": {
        "description": "You don't have the required permissions to perform this action",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string", "default": "Permission denied", "example": "Permission denied" },
                "details": {
                  "type": "array",
                  "example": [
                    "You must be the organization editor to do that",
                    "You need the ATEM_CONTROL role permission"
                  ],
                  "items": { "type": "string" }
                }
              }
            }
          }
        }
      },
      "AuthenticationRequired": {
        "description": "Authentication is required for this request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "default": "Authentication required",
                  "example": "Authentication required"
                }
              }
            }
          }
        }
      },
      "ResourceNotFound": {
        "description": "The requested resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": { "message": { "type": "string", "default": "Not found", "example": "Not found" } }
            }
          }
        }
      }
    },
    "schemas": {
      "LoginForm": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string", "format": "password" }
        },
        "required": ["email", "password"]
      },
      "Bulletin": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "text": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "NewBulletinForm": {
        "type": "object",
        "required": ["title", "text"],
        "properties": {
          "title": { "type": "string", "minLength": 3, "maxLength": 255 },
          "text": { "type": "string", "minLength": 3, "maxLength": 3000 }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "key": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "Config": {
        "type": "object",
        "properties": {
          "servers": { "type": "object", "properties": { "media": { "type": "string" } } },
          "categories": { "type": "array", "items": { "$ref": "#/components/schemas/Category" } }
        }
      },
      "ResourceList": {
        "type": "object",
        "properties": {
          "rows": { "type": "array", "items": { "type": "object" } },
          "offset": { "type": "integer" },
          "limit": { "type": "integer" },
          "count": { "type": "integer" }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "homepage": { "type": "string", "format": "url" },
          "postalAddress": { "type": "string" },
          "streetAddress": { "type": "string" },
          "editor": { "$ref": "#/components/schemas/User" }
        },
        "required": ["id", "name"]
      },
      "NewOrganizationForm": {
        "type": "object",
        "required": ["name", "postalAddress", "streetAddress"],
        "properties": {
          "brregNumber": {
            "type": "integer",
            "description": "The organization number from the Brønnøysund Register Centre. Must be exactly 9 digits.",
            "example": 991696512
          },
          "name": { "type": "string", "minLength": 3, "maxLength": 255 },
          "postalAddress": { "type": "string" },
          "streetAddress": { "type": "string" },
          "homepage": {
            "type": "string",
            "pattern": "/^((http(s?)?):\\/\\/)?([wW]{3}\\.)?[a-zA-Z0-9\\-.]+\\.[a-zA-Z]{2,}(\\.[a-zA-Z]{2,})?$/",
            "format": "url"
          }
        }
      },
      "Playlist": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "NewPlaylistForm": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "videos": { "type": "array", "items": { "type": "number" } }
        },
        "required": ["title", "description", "videos"]
      },
      "ScheduleEntry": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "example": "jukebox" },
          "startsAt": { "type": "string", "format": "date-time" },
          "endsAt": { "type": "string", "format": "date-time" },
          "video": { "$ref": "#/components/schemas/Video" }
        },
        "required": ["type", "startsAt", "endsAt", "video"]
      },
      "JukeboxSchedule": {
        "type": "object",
        "properties": {
          "from": { "type": "string", "format": "date-time" },
          "to": { "type": "string", "format": "date-time" },
          "entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "video": { "type": "number" }, "startsAt": { "type": "string", "format": "date-time" } },
              "required": ["video", "startsAt"]
            }
          }
        },
        "required": ["from", "to", "entries"]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "email": { "type": "string", "format": "email" },
          "name": { "type": "string" },
          "createdAt": { "type": "string" },
          "permissions": { "type": "array", "items": { "type": "string" } }
        }
      },
      "UpdateUserForm": {
        "type": "object",
        "properties": { "name": { "type": "string", "maxLength": 255 } },
        "required": ["name"]
      },
      "RegisterForm": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "format": "email", "maxLength": 255 },
          "password": { "type": "string", "format": "password", "minLength": 8, "maxLength": 255 },
          "name": { "type": "string", "maxLength": 255 }
        },
        "required": ["email", "password", "name"]
      },
      "Video": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 26 },
          "title": { "type": "string", "example": "Frikanelen Infoplakat" },
          "description": { "type": "string" },
          "duration": { "type": "number" },
          "categories": { "type": "array", "items": { "type": "number" } },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "organization": { "$ref": "#/components/schemas/Organization" },
          "media": {
            "type": "object",
            "properties": {
              "id": { "type": "number" },
              "assets": { "type": "array", "items": { "$ref": "#/components/schemas/VideoMediaAsset" } }
            },
            "required": ["id", "assets"]
          },
          "viewCount": { "type": "number" },
          "jukeboxable": { "type": "boolean" },
          "published": { "type": "boolean" }
        },
        "required": [
          "id",
          "title",
          "description",
          "duration",
          "categories",
          "createdAt",
          "updatedAt",
          "organization",
          "media",
          "viewCount",
          "jukeboxable",
          "published"
        ]
      },
      "VideoMediaAsset": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "type": { "type": "string" },
          "url": { "type": "string" },
          "metadata": { "type": "object" }
        },
        "required": ["id", "type", "url"]
      },
      "VideoMediaAssetForm": {
        "type": "object",
        "properties": {
          "locator": { "type": "string" },
          "type": { "type": "string" },
          "metadata": { "type": "object" }
        },
        "required": ["locator", "type"]
      },
      "VideoMediaForm": {
        "type": "object",
        "properties": {
          "fileName": { "type": "string", "description": "Original file name as uploaded on client" },
          "locator": { "type": "string", "description": "Location of file (see locator format)" },
          "duration": { "type": "number", "description": "Duration in seconds" },
          "metadata": { "type": "object", "description": "File metadata as returned by ffprobe" }
        },
        "required": ["fileName", "locator", "duration", "metadata"]
      },
      "NewVideoForm": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "mediaId": { "type": "integer" },
          "jukeboxable": { "type": "boolean" },
          "categories": { "type": "array", "items": { "type": "integer" } }
        },
        "required": ["title", "mediaId"]
      }
    }
  },
  "tags": [{ "name": "Authentication" }],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register a new user",
        "description": "With a successful response, you will be logged in with the new user and assigned a new CSRF token.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterForm" } } }
        },
        "responses": {
          "200": {
            "description": "The user was created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" }, "user": { "$ref": "#/components/schemas/User" } }
                }
              }
            }
          },
          "409": { "description": "Email is already in use" }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "loginUser",
        "tags": ["Authentication"],
        "summary": "Log in with existing user",
        "description": "With a successful response, you will be logged in with the specified user and assigned a new CSRF token.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LoginForm" } } }
        },
        "responses": {
          "200": {
            "description": "Login was successful",
            "content": {
              "application/json": { "schema": { "type": "object", "properties": { "message": { "type": "string" } } } }
            }
          },
          "401": { "description": "Incorrect username or password" }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Log out of the currently logged in user (if any)",
        "responses": {
          "200": {
            "description": "Logout was successful",
            "content": {
              "application/json": { "schema": { "type": "object", "properties": { "message": { "type": "string" } } } }
            }
          }
        }
      }
    },
    "/auth/hasPermission": {
      "get": {
        "operationId": "checkPermission",
        "tags": ["Authentication"],
        "parameters": [
          {
            "in": "query",
            "name": "hasPermission",
            "description": "Check if the logged in user has a specific role permission. Should be the name of a permission (e.g. `ATEM_CONTROL`)",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request or permission granted",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "hasPermission": { "type": "boolean" } } }
              }
            }
          }
        }
      }
    },
    "/auth/user": {
      "get": {
        "operationId": "userProfile",
        "tags": ["Authentication"],
        "summary": "Get information about the logged in user",
        "description": "Returns the logged in user (omitted if anonymous). If the `hasPermission` query param is used, only a status code and message is returned instead.",
        "responses": {
          "200": {
            "description": "Successful request or permission granted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authenticated": { "type": "boolean" },
                    "user": { "$ref": "#/components/schemas/User" }
                  }
                }
              }
            }
          },
          "400": { "description": "Specified permission doesn't exist" },
          "401": { "description": "Authentication required or permission denied (only for `hasPermission`)" }
        }
      }
    },
    "/bulletins": {
      "get": {
        "tags": ["Bulletins"],
        "summary": "Get a list of bulletins",
        "responses": {
          "200": {
            "description": "A list of bulletins",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ResourceList" },
                    {
                      "type": "object",
                      "properties": {
                        "rows": { "type": "array", "items": { "$ref": "#/components/schemas/Bulletin" } }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Bulletins"],
        "summary": "Create a new bulletin",
        "security": [{ "cookie": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewBulletinForm" } } }
        },
        "responses": {
          "200": {
            "description": "Organization was created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Bulletin" } } }
          }
        }
      }
    },
    "/bulletins/{id}": {
      "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }],
      "get": {
        "tags": ["Bulletins"],
        "summary": "Get a specific news bulletin by id",
        "responses": {
          "200": {
            "description": "Bulletin",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Bulletin" } } }
          },
          "404": { "$ref": "#/components/responses/ResourceNotFound" }
        }
      },
      "put": {
        "tags": ["Bulletins"],
        "summary": "Update a bulletin",
        "responses": {
          "200": {
            "description": "Bulletin",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Bulletin" } } }
          },
          "403": { "$ref": "#/components/responses/PermissionDenied" },
          "404": { "$ref": "#/components/responses/ResourceNotFound" }
        }
      },
      "delete": {
        "tags": ["Bulletins"],
        "summary": "Deletes a bulletin",
        "responses": {
          "204": { "description": "The resource was deleted successfully." },
          "403": { "$ref": "#/components/responses/PermissionDenied" },
          "404": { "$ref": "#/components/responses/ResourceNotFound" }
        }
      }
    },
    "/open-api-spec.json": {
      "get": {
        "tags": ["App"],
        "summary": "Get OpenAPI specification",
        "responses": { "200": { "description": "The specification, in JSON format." } }
      }
    },
    "/config": {
      "get": {
        "tags": ["App"],
        "summary": "Get core data and config",
        "description": "This endpoint returns such things as server hostnames, categories, and other mostly static data.",
        "responses": {
          "200": {
            "description": "The config result",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Config" } } }
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "tags": ["Organization"],
        "summary": "Get a list of organizations",
        "parameters": [
          { "$ref": "#/components/parameters/offset" },
          { "$ref": "#/components/parameters/limit" },
          {
            "in": "query",
            "name": "editor",
            "description": "An id of the editor (user) to filter by",
            "required": false,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ResourceList" },
                    {
                      "type": "object",
                      "properties": {
                        "rows": { "type": "array", "items": { "$ref": "#/components/schemas/Organization" } }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Organization"],
        "summary": "Create a new organization",
        "security": [{ "cookie": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewOrganizationForm" } } }
        },
        "responses": {
          "200": {
            "description": "Organization was created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Organization" } } }
          }
        }
      }
    },
    "/organizations/{id}": {
      "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }],
      "get": {
        "tags": ["Organization"],
        "summary": "Get a specific organization by id",
        "responses": {
          "200": {
            "description": "An organization",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Organization" } } }
          },
          "404": { "$ref": "#/components/responses/ResourceNotFound" }
        }
      }
    },
    "/organizations/{orgId}/videos": {
      "parameters": [{ "in": "path", "name": "orgId", "required": true, "schema": { "type": "integer" } }],
      "post": {
        "operationId": "newVideo",
        "tags": ["Organization", "Video"],
        "summary": "Create a new video for an organization",
        "security": [{ "cookie": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewVideoForm" } } }
        },
        "responses": {
          "201": {
            "description": "Video was created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Video" } } }
          }
        }
      }
    },
    "/organizations/{id}/playlists": {
      "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }],
      "post": {
        "tags": ["Organization", "Playlist"],
        "summary": "Create a new playlist for an organization",
        "security": [{ "cookie": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewPlaylistForm" } } }
        },
        "responses": {
          "200": {
            "description": "Playlist was created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Playlist" } } }
          }
        }
      }
    },
    "/organizations/{id}/members": {
      "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }],
      "get": {
        "tags": ["Organization"],
        "summary": "Get a list of members for an organization",
        "security": [{ "cookie": [] }],
        "responses": {
          "200": {
            "description": "A list of users",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ResourceList" },
                    {
                      "type": "object",
                      "properties": { "rows": { "type": "array", "items": { "$ref": "#/components/schemas/User" } } }
                    }
                  ]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/AuthenticationRequired" },
          "403": { "$ref": "#/components/responses/PermissionDenied" },
          "404": { "$ref": "#/components/responses/ResourceNotFound" }
        }
      },
      "post": {
        "tags": ["Organization"],
        "summary": "Add a user as a member to an organization",
        "security": [{ "cookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": { "email": { "type": "string", "format": "email" } }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "The user was added as a member" },
          "401": { "$ref": "#/components/responses/AuthenticationRequired" },
          "404": {
            "description": "The user with that email doesn't exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "No user with that email exists" },
                    "details": { "type": "string", "example": "email_invalid" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}/members/{member}": {
      "parameters": [
        { "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } },
        { "in": "path", "name": "member", "required": true, "schema": { "type": "integer" } }
      ],
      "delete": {
        "tags": ["Organization"],
        "summary": "Remove a member from an organization",
        "security": [{ "cookie": [] }],
        "responses": { "200": { "description": "The member was removed from the organization" } }
      }
    },
    "/playlists": {
      "get": {
        "tags": ["Playlist"],
        "summary": "Get a list of playlists",
        "parameters": [
          { "$ref": "#/components/parameters/offset" },
          { "$ref": "#/components/parameters/limit" },
          {
            "in": "query",
            "name": "organization",
            "description": "An id of the organization to filter by",
            "required": false,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of playlists",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ResourceList" },
                    {
                      "type": "object",
                      "properties": {
                        "rows": { "type": "array", "items": { "$ref": "#/components/schemas/Playlist" } }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/playlists/{id}": {
      "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }],
      "get": {
        "tags": ["Playlist"],
        "summary": "Get a specific playlist by id",
        "responses": {
          "200": {
            "description": "An playlist",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Playlist" } } }
          },
          "404": { "$ref": "#/components/responses/ResourceNotFound" }
        }
      }
    },
    "/scheduling/entries": {
      "get": {
        "tags": ["Scheduling"],
        "summary": "Get a portion of the schedule",
        "operationId": "getSchedule",
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "description": "Defaults to start of day.",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "in": "query",
            "name": "to",
            "description": "Defaults to end of day of \"from\"",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "A schedule",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ScheduleEntry" } }
              }
            }
          }
        }
      }
    },
    "/scheduling/jukeboxable": {
      "get": {
        "tags": ["Scheduling"],
        "summary": "Internally get the pool of jukeboxable videos",
        "responses": {
          "200": {
            "description": "A list of videos",
            "content": {
              "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Video" } } }
            }
          }
        }
      }
    },
    "/scheduling/jukebox": {
      "post": {
        "tags": ["Scheduling"],
        "summary": "Internally create jukebox schedule",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JukeboxSchedule" } } }
        },
        "responses": {
          "200": {
            "description": "Jukebox schedule was created",
            "content": {
              "application/json": { "schema": { "type": "object", "properties": { "message": { "type": "string" } } } }
            }
          }
        }
      }
    },
    "/videos": {
      "get": {
        "tags": ["Video"],
        "summary": "Get a list of videos",
        "parameters": [
          { "$ref": "#/components/parameters/offset" },
          { "$ref": "#/components/parameters/limit" },
          {
            "in": "query",
            "name": "inPlaylist",
            "description": "An id of a playlist to filter by. Orders by playlist entry indices.",
            "required": false,
            "schema": { "type": "integer" }
          },
          {
            "in": "query",
            "name": "organization",
            "description": "An id of an organization to filter by",
            "required": false,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of videos",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ResourceList" },
                    {
                      "type": "object",
                      "properties": { "rows": { "type": "array", "items": { "$ref": "#/components/schemas/Video" } } }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/videos/{id}": {
      "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }],
      "get": {
        "tags": ["Video"],
        "summary": "Get a specific video by id",
        "responses": {
          "200": {
            "description": "A video",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Video" } } }
          },
          "404": { "$ref": "#/components/responses/ResourceNotFound" }
        }
      }
    },
    "/videos/media": {
      "post": {
        "tags": ["Media"],
        "summary": "(Used by media-processor) Register an uploaded file in the database",
        "parameters": [{ "in": "header", "name": "X-Api-Key", "schema": { "type": "string" }, "required": true }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VideoMediaForm" } } }
        },
        "responses": {
          "201": {
            "description": "Video media was created",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "id": { "type": "number" } }, "required": ["id"] }
              }
            }
          }
        }
      }
    },
    "/videos/media/{id}/assets": {
      "parameters": [
        { "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } },
        { "in": "header", "name": "X-Api-Key", "schema": { "type": "string" }, "required": true }
      ],
      "post": {
        "tags": ["Media"],
        "summary": "(Used by media-processor) Register a new video media asset",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VideoMediaAssetForm" } } }
        },
        "responses": {
          "201": {
            "description": "Video media asset was created",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "id": { "type": "number" } }, "required": ["id"] }
              }
            }
          }
        }
      }
    }
  }
}
